In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests
import os

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv(os.path.join("weather_data", "cities.csv"))

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2021-09-21 21:40:51,59.7035,30.7861,44.49,83,100,5.79
1,1,Albany,US,2021-09-21 21:40:51,42.6001,-73.9662,71.80,70,96,4.79
2,2,Cidreira,BR,2021-09-21 21:40:51,-30.1811,-50.2056,58.37,65,79,14.72
3,3,Ghorawal,IN,2021-09-21 21:40:51,24.7667,82.7833,75.60,84,39,4.85
4,4,Sawtell,AU,2021-09-21 21:40:52,-30.3833,153.1000,59.18,55,39,17.27

In [3]:
# Check the types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Ghorawal,IN,2021-09-21 21:40:51,24.7667,82.7833,75.60,84,39,4.85
6,6,Karratha,AU,2021-09-21 21:40:52,-20.7377,116.8463,78.10,21,100,22.70
11,11,Butaritari,KI,2021-09-21 21:40:53,3.0707,172.7902,82.96,70,95,15.26
17,17,Atuona,PF,2021-09-21 21:40:55,-9.8000,-139.0333,77.94,70,15,21.65
21,21,Altamira,BR,2021-09-21 21:40:56,-3.2033,-52.2064,89.69,62,40,4.61
28,28,Black River,JM,2021-09-21 21:39:46,18.0264,-77.8487,86.99,65,35,3.56
32,32,Sao Joao Da Barra,BR,2021-09-21 21:40:33,-21.6403,-41.0511,75.29,86,15,25.39
35,35,Vaini,TO,2021-09-21 21:40:58,-21.2000,-175.2000,75.36,78,75,9.22
45,45,Isangel,VU,2021-09-21 21:41:01,-19.5500,169.2667,77.11,65,20,5.75
50,50,Hilo,US,2021-09-21 21:37:04,19.7297,-155.0900,83.28,88,90,5.75

In [16]:
# Check for null values.

preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
3            Ghorawal      IN     75.60  24.7667   82.7833
6            Karratha      AU     78.10 -20.7377  116.8463
11         Butaritari      KI     82.96   3.0707  172.7902
17             Atuona      PF     77.94  -9.8000 -139.0333
21           Altamira      BR     89.69  -3.2033  -52.2064
28        Black River      JM     86.99  18.0264  -77.8487
32  Sao Joao Da Barra      BR     75.29 -21.6403  -41.0511
35              Vaini      TO     75.36 -21.2000 -175.2000
45            Isangel      VU     77.11 -19.5500  169.2667
50               Hilo      US     83.28  19.7297 -155.0900

In [18]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Ghorawal,IN,75.60,24.7667,82.7833,Abbas Ujjwal Tent House
6,Karratha,AU,78.10,-20.7377,116.8463,ibis Styles Karratha
11,Butaritari,KI,82.96,3.0707,172.7902,Isles Sunset Lodge
17,Atuona,PF,77.94,-9.8000,-139.0333,Villa Enata
21,Altamira,BR,89.69,-3.2033,-52.2064,Requinte Hotel
28,Black River,JM,86.99,18.0264,-77.8487,Idlers' Rest Beach Hotel
32,Sao Joao Da Barra,BR,75.29,-21.6403,-41.0511,Pousada Porto De Canoas
35,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
45,Isangel,VU,77.11,-19.5500,169.2667,Tanna Lodge
50,Hilo,US,83.28,19.7297,-155.0900,Hilo Hawaiian Hotel

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))